
.detail {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: -60px;
  border-radius: 10px;
  z-index: 100 !important;
  box-shadow: 0 10px 20px rgba(37, 43, 70, 0.1);
}
.detail div {
  width: 25%;
  padding: 25px 70px 25px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail div::before {
  content: "";
  position: absolute;
  border-left: 1px solid hsl(0, 0%, 59%) !important;
  height: 65px;
  margin-left: -20px;
  z-index: 100;
  opacity: 0.2;
}
.detail div:nth-child(1)::before {
  border-left: none !important;
}