<header class="header" [ngStyle]="{'background-image': 'url(assets/pattern-bg-desktop.png)'}">
  <h1>IP Address Tracker</h1>
  <div class="search-bar">
    <input 
      type="text" 
      name="ip-input"
      id="ip-input"
      [(ngModel)]="ip"
      [ngClass]="error ? 'error' : ''"
      placeholder="Search for any IP address">
    <button (click)="getDetails()">
      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14"><path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6"/></svg>
    </button>
  </div>
  <p *ngIf="error" class="error error-msg">IP Address not found</p>
  <app-result class="result" *ngIf="ipDetails" [@fadeAnimation] [ipDetails]="ipDetails"></app-result>
</header>
<app-map class="map" #map></app-map>
