
.header {
    position: relative;
    height: 40%;
    background-size: cover;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    z-index: 9999;
}

.header h1 {
    text-align: center;
    color: white;
    font-size: 3.5rem;
}

.search-bar {
    --b-radius: 1rem;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    height: 4rem;
}

.search-bar input {
    padding: 1rem;
    height: 100%;
    width: 40%;
    border: none;
    border-radius: var(--b-radius) 0 0 var(--b-radius);
    font-size: 1.5rem;
}
.search-bar button {
    height: 100%;
    aspect-ratio: 1;
    border: none;
    background-color: var(--col-primary);
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    cursor: pointer;
}

.search-bar button:hover,
.search-bar button:focus {
    filter: brightness(150%);
}

.error {
    color: crimson;
}

.error-msg {
    text-align: center;
    margin-top: .5rem;
}

.result {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 9999;
}

.map {
    display: block;
    height: 60%;
}

/* @media(max-width: 900px) {
    .header {
        height: 50%;
    }
    .map {
        height: 50%;
    }
} */

@media(max-width: 500px) {
    .header h1 {
        font-size: 1.5rem;
    }
    .result {
    }
    .search-bar {
        --b-radius: .75rem;
        height: 3.5rem;
    }
    .search-bar input {
        width: 100%;
        font-size: 1.2rem;
    }
}