.header {
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    height: 40%;
    padding: 2rem;
    position: relative;
    z-index: 9999;
}

.header h1 {
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

.search-bar {
    --b-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 4rem;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.search-bar input {
    border: none;
    border-radius: var(--b-radius) 0 0 var(--b-radius);
    font-size: 1.5rem;
    height: 100%;
    padding: 1rem;
    width: 40%;
}

.search-bar button {
    aspect-ratio: 1;
    background-color: var(--col-primary);
    border: none;
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    cursor: pointer;
    height: 100%;
}

.search-bar button:hover,
.search-bar button:focus {
    filter: brightness(150%);
}

.error {
    color: crimson;
}

.error-msg {
    margin-top: .5rem;
    text-align: center;
}

.result {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    z-index: 9999;
}

.map {
    display: block;
    height: 60%;
}

@media(max-width: 500px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .result {}

    .search-bar {
        --b-radius: .75rem;
        height: 3.5rem;
    }

    .search-bar input {
        font-size: 1.2rem;
        width: 100%;
    }
}